@font-face {
    font-family: 'Gilroy Medium', sans-serif;
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../font/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy Bold', sans-serif;
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

html, body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy Medium', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  font-weight: 500;
}
#checkBox, .toggle { /*изначально чекбокс и кнопка невидимы */
  display: none;
}
a {
  text-decoration: none;
  color: #070707;
}
h2 {
  font-family: 'Gilroy Bold', sans-serif;
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 17px;
}
h1 {
  max-width: 400px;
  font-family: 'Gilroy Bold', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 59px;
}

@media screen and (min-width: 766px) {
  .wrap {
    max-width: 950px;
    margin: 0 auto;
  }
  header nav ul {
    font-family: 'Gilroy Bold', sans-serif;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 33px 0 31px;
    margin: 0;
  }
  header nav ul .index {
    color: #070707;
  }
  header nav ul li a {
    padding: 0;
    margin: 0;
    color: #828282;
  }
  .headerWrap {
    border-bottom: 1px solid #000;
  }
  .name {
    padding-bottom: 100px;
  }
  .name .wrap .nameBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .name .wrap .nameBox .name-p {
    max-width: 400px;
    margin-bottom: 30px;
  }
  .name .wrap .nameFoto {
    background-image: url(../img/name-foto-max.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 945px;
    height: 338px;
    margin: 0 auto;
  }
  .aboutMe {
    background-color: #F6F6F6;
    padding: 120px 0 107px;
  }
  .aboutMe .wrap .aboutMeText {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  .skills {
    padding: 91px 0 110px;
  }
  .skills .wrap p{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 83px;
  }
  .skills .wrap .skillbox {
    display: flex;
    justify-content: space-between;
  }
  .skills .wrap .skillbox .skillbox-item h3 {
    text-transform: uppercase;
    text-align: center;
  }
  .portfolio {
    background-color: #F6F6F6;
    padding: 112px 0 96px;
    text-align: center;
  }
  .portfolio .wrap .portfolioPart {
    margin: 47px auto 74px;
  }
  .portfolio .wrap .portfolioPart h3 {
    text-decoration: underline;
  }
  .messages {
    padding: 114px 0 123px;
    text-align: center;
  }
  .messages .wrap p {
    margin-bottom: 30px;
  }
  .messages .wrap a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 765px) { /*для экранов меньше 765 пикселей*/
  .toggle { /*кнопка появляется*/
    clear: both;
    display: block;
    text-align: center; /*здесь можно указать любое расположение */
    font-size: 14px;
    line-height: 40px;
    width: 100%;
    transition: all .1s linear; /*красивая анимация*/
  }
  .toggle:hover { /*при наведении анимация*/
    background-color: #F6F6F6;
  }
  #checkBox:checked + label .touch li {
    opacity: 1; /*при нажатии на кнопку появляется список*/
    visibility: visible;
    transition: all .2s linear;
  }
  #checkBox:checked + label .touch {
    height: 500px; /*высота появления*/
  }
  .menu { /*прописывается невидимость при закрытой кнопке и положение списка  открытой*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .7s linear;
  }
  .menu li { /*невидимость списка при закрытой кнопке*/
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }
}
